body {
  background: #74adb4;
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: #dbe6e6;
}

.two_options {
  width: 100%;
  display: table;
  text-align: center;
}

img {
  max-height: 820px;
  width: 100%;
}

.computer {
  display: inline-block;
  position: relative;
}

.humans {
  display: inline-block;
  position: relative;
}

.btn {
  font-family: "Open Sans", sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  cursor: pointer;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.computer .btn:hover {
  background-color: white;
}
