@font-face {
  font-family: "Open-sans dd";
  src: url("img/OpenSans.ttf");
}

body {
  background: #74adb4;
}

h1 {
	display: flex;
	position: relative;
	width: 100%;
	padding: 0;
	margin: 0;
	list-style: none;
	justify-items: inline;
	justify-content: center;
}

.title {
	font-family: "Open Sans", "Open-sans dd", sans-serif;
	margin: 5% 0% 5% 0%;
	color: #dbe6e6;
	flex:1;
	display: flex;
	justify-content: center;
	transform: translateX(50px);
}

h1,.about {
	margin-left: auto;
	margin-right: 1%;
}

.about > button{
	margin: 0% 0% 0% 0%;
	font-family: "Open Sans", "Open-sans dd", sans-serif;
  font-size: 12px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
	background-color: transparent;
	cursor: pointer;

}

.about > button:hover{
	background-color: rgba(255, 255, 255, 0.185);
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
  }
  .overlay:target {
	visibility: visible;
	opacity: 1;
  }
  
  .popup {
	margin: 70px auto;
	padding: 20px;
	// background: #30484b;
	background: #619197;
	border-radius: 5px;
	width: 50%;
	position: relative;
	transition: all 5s ease-in-out;
  }
  
  .popup h2 {
	margin-top: 0;
	font-family: "Open Sans", "Open-sans dd", sans-serif;
	color: #dbe6e6;
	text-align: center;
  }

  .popup img {
	  max-width: 200px;
	  max-height: 200px;
	  object-fit: cover;
	  object-position: 0% 30%;
	  opacity: 0.8;
	  border-radius: 50%;
	  margin-left: 5%;
	  margin-right: 5%;
  }

  .popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: black;
  }

  .popup .close:hover {
	color: white;
  }

  .popup .content {
	font-family: "Open Sans", "Open-sans dd", sans-serif;
	text-align: center;
	font-size: 25px;
	max-height: 30%;
	overflow: auto;
	color: #dbe6e6;
  }
  
  @media screen and (max-width: 700px){
	.box{
	  width: 70%;
	}
	.popup{
	  width: 70%;
	}
  }

.two_options {
width: 100%;
height: 100%;
  display: table;
  text-align: center;
  position: absolute;
}

img {
  max-height: 820px;
  width: 100%;
}

.computer {
  display: inline-block;
  position: relative;
}

.humans {
  display: inline-block;
  position: relative;
}

.btn {
  font-family: "Open Sans", "Open-sans dd", sans-serif;
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 16px;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  border: 3px solid;
  padding: 0.25em 0.5em;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px,
    5px 5px 0px 0px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.on {
  background-color: rgb(228, 228, 228);
  cursor: pointer;
}

.off {
  background-color: rgba(128, 128, 128, 0.445);
  cursor: not-allowed;
}

.on:hover {
  background-color: white;
}

.customAlert {
  display: none;
  position: fixed;
  max-width: 400px;
  min-width: 250px !important;
  min-height: 20%;
  height: 250px;
  left: 50%;
  top: 50%;
  padding: 10px;
  box-sizing: border-box;
  margin-left: -12.5%;
  margin-top: -5.2%;
  background: #89a7ace3;

  @media all and (max-width: 1300px) {
    .message {
      font-size: 14px !important;
    }
    input[type="button"] {
      height: 15% !important;
    }
  }

  .message {
    font-family: "Open Sans", "Open-sans dd", sans-serif;
    font-size: 16px;
    letter-spacing: 2px;
    padding: 5px;
    color: white;
    font-size: 14px;
    line-height: 20px;
    text-align: justify;
  }

  input[type="button"] {
    position: absolute;
    top: 100%;
    left: 50%;
    width: 50%;
    height: 36px;
    margin-top: -45px;
    margin-left: -25%;
    outline: 0;
    border: 0;
    background: #9bdfebe3;
    color: white;
    &:hover {
      transition: 0.3s;
      cursor: pointer;
      background: lighten(#9bdfeb, 5%);
    }
  }
}

.rab {
  width: 200px;
  height: 30px;
  outline: 0;
  border: 0;
  color: white;
  background: darken(#04b486, 5%);
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  display: unset;
  visibility: visible;
  opacity: 1;
}
